<div class="max-w-2xl p-8 rounded-xl mx-auto text-center my-16 bg-gray-50">
  <h1 class="font-black text-3xl">Super-mega Passwordless App</h1>

  <% if current_user.present? %>
    <p class="py-3">You are signed in as <span class="font-semibold text-sky-800"><%= current_user.username %>(<%= current_user.email %>)</span></p>

    <%= link_to "View members only content", members_only_path, class: "underline block mb-6" %>
    <%= link_to "Sign out", users.sign_out_path, class: "bg-sky-500 text-white py-2 px-3 font-semibold rounded" %>

  <% else %>

    <p class="text-lg text-gray-600 my-4">Sign up for members-only access.</p>

    <div class="flex items-center justify-center space-x-3">
      <%= link_to "Sign in", users.sign_in_path, class: "bg-sky-500 text-white py-2 px-3 font-semibold rounded" %>
      <%= link_to "Create account", new_user_path, class: "bg-emerald-600 text-white px-3 py-2 font-semibold rounded" %>
    </div>
  <% end %>
</div>
